language: node_js
node_js:
- node
branches:
  except:
  - "/^[0-9]*\\.[0-9]*\\.[0-9]*/"
env:
  global:
    secure: JVvjFOY05FFBRNuE0+bDXNB2nhyb4ZuwJx8atDf+69BOjyYQOZW+Zxu/7FNA5b7rHQTurQZqTa4VjbAOvQi9kPsKyiIZgKk/lcrbbP74o7lvgEl5Jq7Od/YgEw6ps1e3El+v1HjiRcsL3DwbfOvGoIfOuiEwkTvu/7sNVBTq8Pyl7FhPJe1k5tebQJHuk3IKKrzEGf9izFvIDCd/kzqhiiUwDaA+kfyM3wjJ/TxzueypwUT4dGnuuGsxdDkXgxSceh/MiwXzk7yQSrk6UF3K/Qe3EsH3KKKHkOR1boiuPAGbyfrxqiu2x1WtbfkNviQGjN1KrswpNbGxQ5bUgIML7/jpp+BNNQTd9oJD6PYa89VtpCq58ZlBmrWFzO6+WipsR5S2ethFN2meNEwBUHwsoxObakoO29TDpBqPqVPTjmAomeHlvUcNquPI36dsOHOWB+UILSJ57uEXXmc3Wy2uwjcTvJK2YqvKE8HL0TbjZH39KHTrMHsBDNty7oLexbWd0zA9JNjvnv3gfua9Mgs8kg3MrlBAN2YKtmI5K7cc5tlGC8yvDArMKbJXszYuA89eWi+rrzpPN32p13OftmVV1BV9byEB4L9MHzszLrl7+rl2yTXoHgGAR64jcF+kge6XSufesNOsC5g/OxGuzRRAXL69rBxHXlPysChItfRgCkY=
install:
  - git config remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
  - git fetch --unshallow --tags
script:
- npm run lint
- npm test
- npm install --only=dev
before_deploy: npm-auto-version
deploy:
  provider: npm
  email: j.breindel2@outlook.com
  api_key:
    secure: y/CZEqRb34hrKDl2Om5AgjIYeQQG/11U+/B0FoPR6DlBPWv44fccFLO/dmHWQay2HnTW4Fy44+XPmI3EbsojidpGwsNKf66zFdflgQLSMLmgT771zPWZx1jZVB2MR4kSzyP4uWoj/tmuaiC/IwXSgOZChStmizf8Cgy8WUuccvUSqne/NtgH87GMj5hucchWRszSMLM2rBGFHbmPAKezd4hK3Ln7/6j4YMdPAFb4RzrenhDZoZiav3bCrqj/wX1dNWsLrjQgHlkPO0y1PbWtFKDJhCzIe2qMAg0cuMZmPIApfyH1+GJVlU6QrZN9u48WvoxBdX5z57rb78xC3ehHUgG1K8x29vAm119WSjxdt6BiJJ583atlNH0mjR5fY2klPRpOCqMkVsoGtiIP8TdCA6T6D43d8PGVyyKCZhZv5WZPgy0a7zvALL0XC6Oavr7LbWsA7Al3v7Cv+cqDpesfxMzb0I6oCt8MXKajiv7wFGRskRBiVM2qePrrrHq9ywNk5nCg/HETOydqkvhVBb+wpBz6TSCp0FRrxplyBCw196MOhHNPxsWaVWmea1YjbTOZ59dISEx0FlmhDS5k2UJYQDcVoDIs5DkPuk7bUO6ZapvFGMC1KFjKpiCnOxJ0IiK/Dw9XWUpfoq2MpVBzSxoKerm4rzxGO799nmgP//WpwyA=
  on:
    branch: master
    repo: jbreindel/documentclient-mock
after_deploy: git push --quiet https://$GITHUBKEY@github.com/jbreindel/documentclient-mock tags > /dev/null 2>&1
